html{
    width: 414px;
    height: 736px;
    
}

#upper-left{
    position: absolute;
    width: 241px;
    height: 252px;
    left: 0px;
    top: 0px;
}

#bottom-right{
    position: absolute;
    width: 266px;
    height: 278px;
    left: 148px;
    top: 462px;
}

#scooter{
    position: absolute;
    width: 330px;
    height: 277px;
    left: 16px;
    top: 454px;
}

#lets-get-start{
    position: absolute;
    width: 331px;
    height: 49px;
    left: 44px;
    top: 128px;
}

#logo{
    position: absolute;
    width: 121px;
    height: 16px;
    left: 44px;
    top: 23px;
}

#log-in img{
    position: absolute;
    width: 111px;
    height: 38px;
    left: 100px;
    top: 342px;
    border: none;
}

#username-input{
    border: 1px solid #CCCCCC;
    border-radius: 15.6px;
    outline: none;
    position: absolute;
    width: 204px;
    height: 39px;
    left: 99px;
    top: 221px;
    padding: 0px 10px;
}

#password-input{
    border: 1px solid #CCCCCC;
    border-radius: 15.6px;
    outline: none;
    position: absolute;
    width: 204px;
    height: 39px;
    left: 100px;
    top: 291px;
    padding: 0px 10px;
}

#new-user{
    position: absolute;
    width: 82px;
    height: 18px;
    left: 103px;
    top: 393px;
}

#sign-up img{
    position: absolute;
    width: 56px;
    height: 18px;
    left: 185px;
    top: 393px;
}

#username-title{
    position: absolute;
    width: 90px;
    height: 22px;
    left: 100px;
    top: 195px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.019em; 
    color: #1E1E1E;
}

#password-title{
    position: absolute;
    width: 115px;
    height: 20px;
    left: 101px;
    top: 264px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%; 
    letter-spacing: -0.019em;
    color: #1E1E1E;
}

@font-face {
    font-family: 'Inter';
    src: url("font/Inter/Inter-VariableFont_slnt\,wght.ttf");
  }

  