/* html{

    background-color: palegoldenrod;
} */

.background{
    width: 414px;
    height: 736px;
    /* border:3px solid;
    color:black; */
    background-image: url(2-0-background.png);
    background-size: 414px 736px;
}

#logo{
    position: absolute;
    width: 121px;
    height: 16px;
    left: 44px;
    top: 23px;
}

.input{
    box-sizing: border-box;
    position: absolute;
    width: 304px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 22px;
    padding: 0px 10px;
    outline: none;
}

#name-input{
    left: 61px;
    top: 312px;
}

#email-input{
    left: 61px;
    top: 391px;
}

#password-input{
    left: 61px;
    top: 465px;
}

#create-account{
    position: absolute;
    left: 122px;
    top: 172px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.019em;
    color: #B19191;
}

.text{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.019em;
    color: #C8B4B4;
}

#gender-title{
    left: 61px;
    top: 238px;
}

#name-title{
    left: 63px;
    top: 284px;
}

#email-title{
    left: 63px;
    top: 363px;
}

#password-title{
    left: 63px;
    top: 437px;
}

.gender-btn{
    border: 1px solid #D3D3D3;
    border-radius: 22px;
    background: #FFFFFF;
    font-family: 'Inter';
}

#male-btn{
    width: 85px;
    height: 31px;
    left: 138px;
    top: 237px;
    cursor: pointer;
}

#female-btn{
    width: 85px;
    height: 31px;
    left: 233px;
    top: 237px;
    cursor: pointer;
}

#signup-btn{
    border: 1px solid #B19191;
    border-radius: 22px;
    background: #B19191;
    color:#FFFFFF;
    position: absolute;
    width: 176px;
    height: 43px;
    left: 119px;
    top: 569px;
    font-size: 20px;
    cursor: pointer;
}

@font-face {
    font-family: 'Inter';
    src: url("font/Inter/Inter-VariableFont_slnt\,wght.ttf");
  }